@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url("background.jpg");
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
    flex: 1;
    margin: 0;          
    flex-basis: 100%;  

}
.questionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    width: 92%;           
    max-width: 90%;     
    margin: 0 auto;    
    flex: 1;   
}




.blur{
    background: rgba(255, 255, 255, 0.07);
    border-radius : 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    padding: 5%;
    padding-top: 5%;
}
#header{
    display: flex  ;
    justify-content: center;
    font: weight 400px;;
    color: grey;
}
#question{
    font-weight: bold;
    color: rgb(216, 221, 221);
    background-color: #627264;
    padding: 5%;
    border-radius: 16px;
    font-size:3vw;
}
.auto{
    display: flex;
    flex-wrap: wrap;
}
.answers{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}
.True, .False  {
    flex: 1;
    border-radius: 7px;
    border-color: transparent;
    font-weight: bold;
    color: #3f4940;
    font-size:3vw;
    transition-duration: 0.4s;
}
.True{
    margin-right: 5%;
}
#next {
    display: flex;
    margin-top: 3%;
    border-radius: 7px;
    border-color: transparent;
    font-weight: bold;
    color: #3f4940;
    font-size:3vw;
    transition-duration: 0.4s;
}
.reveal{
    padding-left: 5%;
    display: flex;
    font-size:3vw;
    align-items: center;
    margin: 0;
}


.nextbox {
        display: flex;
        flex: row;
        align-items: center;     
        width: 100%;           
        margin: 0;  
        text-align: center;
}
.True:hover, .False:hover, #next:hover, .play-again:hover{
    background-color: #627264;
    color:rgb(216, 221, 221);
}

.play-again {
    display:flex;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 7px;
    border-color: transparent;
    font-weight: bold;
    color: #3f4940;
    font-size:3vw;
    transition-duration: 0.4s;
}
@keyframes buttonHover {

}

